*{
  font-family: 'Teko', sans-serif;
}

body{
  background-color: black !important;
}

.text-shadow{
  text-shadow: 2px 2px 5px rgb(216, 202, 6);
}

#navbar{
  z-index: 9999;
  transition: 1s;
}

.hr-white{
  background-color: white;
  width: 80px;
  display: flex;
  position: relative;
  margin-right: -10px;
}


.masthead {
    height: 90vh;
    min-height: 500px;
    background-image:url('/img/beer.jpg');
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat;    
     }

.beer{
    height: 100vh;
    min-height: 500px;
    
    background:linear-gradient(black, transparent , rgba(0, 0, 0, 0.794)) ,url('/img/sfondo2.jpg');
    background-size: 70% ;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.section-2{
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(rgba(53, 53, 53, 0.685),transparent,rgba(2, 2, 2, 0.781)) ,url('/img/beer-splatter.jpg');
    background-size:50% ;
    background-position: right;
    background-repeat: initial;
   
    
}
